In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("./2015_16_ref_programme.csv")

In [4]:
data.head()

   id                             programme  course_level_id
0   5         Ayurvedacharya-Ayurvedacharya                4
1   4  Ayurveda Vachaspati-Ph.D in Ayurveda                1
2  78          D.Litt.-Doctor of Literature                1
3   6                 B.A.-Bachelor of Arts                4
4  40   B.A.M.-Bachelor of Ayurved Medicine                4

In [5]:
course=pd.read_csv("./2015_16_ref_course_level.csv")

In [7]:
course

   id           level            name
0   8      Integrated      Integrated
1   7     Certificate     Certificate
2   6         Diploma         Diploma
3   5      PG Diploma      PG Diploma
4   4  Under Graduate  Under Graduate
5   3   Post Graduate   Post Graduate
6   2         M.Phil.         M.Phil.
7   1           Ph.D.           Ph.D.